
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>MvcKamp tablo örneği</h3>
        <br />
         <table>
            <tr>
                <th>Kategori ID</th>
                <th>Kategori Adı</th>
                <th>Açıklama</th>
                <th>Durum</th>
            </tr>
             <tr>
                 <td>1</td>
                 <td>Eğitim</td>
                 <td>lorem</td>
                 <td>True</td>
             </tr>
        </table>
    </div>
</body>
</html>
